.home-header-container {
  display: flex;
  min-height: 190px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home-content-container {
  overflow: auto;
  width: 100%;
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  .home-header-container {
    height: 400px;
  }

  .home-content-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
