p {
  margin-bottom: 15px;
  margin-top: 5px;

  & mark {
    font-weight: 900;
    background-color: none;
    color: #4b9cf9;
    background: transparent;
  }
}

.landing-container {
  max-width: 1150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  margin-top: 5vh;
}

.landing-tutorial-container {
  display: flex;
  flex-direction: column;
  align-items: start;

  & img {
    max-height: 300px;
    margin: 10px 0 40px 70px;
  }

  & div {
    flex-direction: row;
  }
}

@media (max-width: 900px) {
  .landing-container {
    max-width: 880px;
    margin-top: 2vh;
  }
}

@media (max-width: 768px) {
  .landing-container {
    max-width: 720px;
    margin-top: 5vh;
  }
}

@media (max-width: 576px) {
  .landing-container {
    max-width: 540px;
  }
}
