.sidebar-container {
  background-color: white;
  width: 260px;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: space-between;
  position: fixed;
  top: 0;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
}

.logo {
  height: 120px;
  width: auto;
}

.sidebar-content-container {
  width: 260px;
}

.credits {
  color: black;
  font-size: 0.9rem;
  margin-bottom: 10%;
}

.credits:hover {
  color: #abc4ff;
  transition: 100ms;
}

@media screen and (max-width: 1024px) {
  .sidebar-container {
    width: 220px;
  }

  .sidebar-content-container {
    width: 220px;
  }
}

@media screen and (max-width: 900px) {
  .sidebar-container {
    width: 200px;
  }

  .sidebar-content-container {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
  }

  .header-logo {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .sidebar-container {
    width: 220px;
    justify-content: start;
    left: -100%;
    transition: 850ms;
  }

  .sidebar-container.active {
    left: 0;
    transition: 350ms;
  }

  .sidebar-content-container {
    width: 220px;
  }

  .sidebar-toggle {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .logo {
    height: 84px;
    width: auto;
    margin: 7px 3px 7px 0px;
  }

  .sidebar-toggle-icon {
    margin-left: 2rem;
    font-size: 1rem;
    background: none;
    position: fixed;
  }
}
