.sidebar-menu {
  background-color: #edf2fb;
  width: 260px;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
}

.sidebar-logo {
  /* padding: 8px 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
}

.logo {
  height: 120px;
  width: auto;
}

.header {
  /* background-color: #edf2fb; */
  height: 90px;
  width: 100%;
  /* max-width: 1500px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 4;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1rem;
  background: none;
}

.sidebar-object {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  list-style: none;
  height: 55px;
}

.sidebar-object a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
}

.sidebar-object a:hover {
  background-color: #abc4ff;
}

.sidebar-object span {
  margin-left: 16px;
}

.sidebar-menu-content {
  width: 260px;
}

.credits {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  margin-bottom: 10%;
}

.credits:hover {
  color: #abc4ff;
}

@media screen and (max-width: 768px) {
  .header {
    background-color: #edf2fb;
  }

  .sidebar-menu {
    background-color: #edf2fb;
    width: 220px;
    height: 100vh;
    display: grid;
    justify-content: start;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 5;
  }

  .sidebar-menu.active {
    left: 0;
    transition: 350ms;
    width: 220px;
  }

  .sidebar-menu-content {
    width: 220px;
  }

  .sidebar-toggle {
    background-color: #edf2fb;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .logo {
    height: 90px;
    width: auto;
    padding: 5px 0px;
    margin-right: 2rem;
  }
}
