.search-header-container {
  display: flex;
  min-height: 340px;
  width: 100%;
  justify-content: center;
}

.search-body-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
  align-items: center;
  justify-items: center;
  padding: 60px 120px;
}

@media screen and (max-width: 1600px) {
  .search-body-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1320px) {
  .search-body-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 100px;
  }
}

@media screen and (max-width: 1024px) {
  .search-body-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 80px;
  }
}

@media screen and (max-width: 880px) {
  .search-body-container {
    padding: 60px 55px;
  }
}

@media screen and (max-width: 768px) {
  .search-header-container {
    height: 400px;
  }

  .search-body-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
