.search-header-container {
  display: flex;
  min-height: 340px;
  width: 100%;
  justify-content: center;
}

.search-body-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .search-header-container {
    height: 400px;
  }

  .search-body-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
