.section-outer {
  height: 100%;
}

.section-content {
  display: flex;
  flex-direction: column;
  margin-left: 260px;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .section-content {
    margin-left: 220px;
  }
}

@media screen and (max-width: 900px) {
  .section-content {
    margin-left: 200px;
  }
}

@media screen and (max-width: 768px) {
  .section-content {
    margin-left: 0px;
  }
}
