.sidebar-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.sidebar-menu-selector {
  /* for circle */
  /* position: absolute;
  height: 40px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  left: -40px; */
  position: absolute;
  left: -32px;
  width: 0;
  height: 0;
  border-top: 45px solid transparent;
  border-left: 50px solid white;
  border-bottom: 45px solid transparent;
}

.sidebar-object {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 55px;
  width: 185px;
  font-weight: 500;
}

.sidebar-object a.active {
  background-color: #77b6fb;
  font-weight: 600;
}

li:has(> a.active) + .sidebar-menu-selector {
  border-left: 50px solid #77b6fb;
}

.sidebar-object a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-radius: 10px;
}

.sidebar-object a:hover {
  background-color: #4b9cf9;
  font-weight: 600;
  transition: 50ms;
}

.sidebar-object span {
  margin-left: 16px;
}
