.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 70px;
}

.title-container h1 {
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 0px #808080, 2px 2px 0px #999999, 3px 3px 0px #aaaaaa;
}
